@import '../../util/colors';

.toast {
  z-index: 11;
  width: unset;
  background-color: $blue;
  color: white;
  font-size: 1.3rem;
  left: 43.5%;
  transform: translate(-50%, 0);
  bottom: 0.5rem;
}

.toast .btn-close{
  color: $white;
}

.toast .toast-bdy {
  text-align: center;
}
