$orange: #F78A58;
$red: #ed390f;
$yRed: #F52929;
$darkRed: #C0351B;
$lightgrey: #f5f5f5;
$almostBlack: #252525;
$black: #000000;
$skyBlue: #139ef8;
$almostWhite: #00000029;
$white: #FFFFFF;
$black: #000000;
$blue: #245AA6;
$grey: #6c757d;
$blueLines: #739BD2;
