@import '../../util/colors';
@import '../../util/layout';

.events-page .event-card {
  padding: 1.8em 2em;
  box-shadow: 0 3px 6px $almostWhite;
  margin-top: 2.4em;
  border-radius: 28px;
  text-align: left;
  display: flex;
  cursor: pointer;
}

.events-page .event-card .event-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.25rem;
  text-decoration: underline;
  color: $almostBlack;
}

.events-page .event-card .cover-img {
  margin-right: 2.5rem;
}
.events-page .event-card .cover-img img {
  width: 10rem;
  height: 10rem;
  border-radius: 12px;
}

.events-page .event-card .event-date-type {
  font-weight: bold;
  text-transform: capitalize;
  color: $darkRed;
  font-size: 1.12rem;
  line-height: 1.75rem;
}

.events-page .event-card .event-date-type span {
  margin-right: 0.75em;
}

@media (max-width: $min-phone-width) {
  .events-page .event-wrapper {
    width: 100%;
    border-radius: 0;
    margin: 0 0 6.66vh 0;
  }

  .events-page .event-card {
    flex-direction: column;
    align-items: center;
  }
  .events-page .event-card .event-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .events-page .event-card .cover-img {
       display: flex;
       justify-content: center;
       margin-right: 0;
  }

  .events-page .event-card .cover-img img {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

  .events-page .event-card .event-date-type span, .event-card .event-content {
    display: block;
    text-align: center;
  }
}
