@import '../../util/layout';
@import '../../util/colors';

.my-menu {
  background-color: $lightgrey;
  flex-direction: row;
  justify-content: space-between;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.navbar.my-nav {
    position: fixed;
    z-index: 9;
    margin-top: 3.79vh;
    flex-wrap: nowrap;
    width: calc(87% - 1rem);
    padding-left: 14vw;
}

.navbar.my-nav.scrolled {
  margin-top: 0 !important;
}

.my-nav .navbar-brand {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-nav .navbar-brand .brand-name {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    color: $almostBlack
}

.my-nav .navbar-brand .brand-title {
    font-size: 1.6rem;
    max-width: 215px;
    text-align: left;
    white-space: pre-wrap
}

.navbar-nav.desktop-nav .link-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 1rem
}

.my-nav .navbar-nav .nav-item {
  width: fit-content;
  width: -moz-fit-content;
}

.my-nav .nav-link {
  padding: 0.5rem 0.8rem !important;
  margin: 0 0.2rem;
  border-radius: 0.7rem;
  white-space: pre;
}

.desktop-nav .nav-link:hover, .desktop-nav .nav-link.active {
    background-color: $orange;
    color: $lightgrey;
    opacity: 0.8;
}

.desktop-nav .nav-item a {
  color: $black;
}

.my-nav .main-live {
  position: absolute;
  right: 2.5rem;
  top: 1.5rem;
  font-size: 0.8em;
}

.my-nav .live:before {
  content: '';
  display: block;
  height: .7em;
  width: .7em;
  background: $red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1.2em;
  transform: translateY(-50%);
}

.my-nav .navbar-toggler {
  display: none;
}

//landscape
@media screen and (min-aspect-ratio: 13/9) {
  .navbar.my-nav {
    margin-top: 1vh;
  }
}

@media (max-width: $min-phone-width) {
  .navbar.my-nav {
    padding-left: 7vw;
    width: calc(87% - 0.625rem);
  }

  .navbar.my-nav .desktop-nav, .navbar.my-nav .main-live{
    display: none
  }
  .my-nav .navbar-brand {
    width: 50%;
  }

  .my-nav .navbar-brand .brand-title {
    font-size: 1rem;
  }

  .my-nav .navbar-brand .red-box {
    font-size: 0.7rem;
  }

  .my-nav .navbar-toggler {
    padding: 0;
    margin-right: 6vw;
    display: block;
  }
}

@media (max-width: $min-phone-width) {
  .sidebar-description, .navbar-resources-title, .navbar-collapse .navbar-resources .social-media {
    display:none
  }
}
