@import '../../util/layout';
@import '../../util/colors';

.page-footer {
  position: relative;
  margin-bottom: 2em;
  margin-right: 0.5em;
  font-size: 0.8em;
}

.page-footer a {
  text-align: left;
  display: block;
  text-decoration: none;
  color: $almostBlack;
  white-space: pre;
}

.page-footer  a:hover {
  color: $lightgrey;
  background-color: $orange;
  border-radius: 0.7rem;
}

.container-fluid {
  padding: 0.5em;
}

.container-fluid .social-media {
  display: block;
}

.container-fluid .social-media a {
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 20%;
  padding: 0.3em 1em;
}

.container-fluid .social-media .bi {
  margin-right: .5em;
  height: 1em;
  padding: 1em 0.5em
}

.container-fluid .social-media .bi-youtube {
  color: $yRed
}

.container-fluid .social-media i:before {
  font-size: 1.4em;
  vertical-align: -0.3em
}

.container-fluid .social-media .bi-facebook {
  color: $skyBlue
}

.container-fluid .social-media .bi-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
}

.footer-copyright {
  margin-top: 1em;
  font-size: 0.7em;
  text-align: left;
  display: block;
}

.footer-copyright a {
  padding: 0;
  width: fit-content;
  width: -moz-fit-content;
}

.page-footer .links a {
  padding: .2em .5em;
  position: relative
}

.page-footer .links ul {
  margin-bottom: 0;
}

.page-footer .links a:before {
  background-color: $darkRed;
  content: '';
  position: absolute;
  top: 3px;
  left: -4px;
  width: 6px;
  height: 17px;
  border-radius: 50%;
}

.page-footer .links .longer:before {
  height: 41px;
  border-radius: 30%;
}

.page-footer .links .last-one {
  margin-top: 0.75rem;
}

.page-footer .links .last-one:before {
  height: 6px;
  border-radius: 50%;
  top: 9px;
}

@media (max-width: $min-phone-width) {
  .page-footer .links {
    display:none
  }

  .container-fluid .social-media {
    width: fit-content;
    margin: 0 auto
  }

  .container-fluid .social-media a {
    margin-left: unset
  }
}
