@import '../../util/layout';
@import '../../util/colors';

.page-footer {
  position: absolute;
  width: calc(100% - 1rem);
  font-size: 0.8em;
}

.page-footer .emptyDiv {
  height: 2em;
  width: 100%;
}

.page-footer a {
  text-align: left;
  display: block;
  text-decoration: none;
  color: $almostBlack;
}

.page-footer  a:hover {
  color: $almostBlack;
  text-decoration: underline;
}

.container-fluid {
  padding: 3.7vh 0 !important;
}

.container-fluid .social-media {
  display: flex;
  align-items: center;
  padding-left: 14vw;
}

.container-fluid .social-media p {
  font-weight: bold;
  color: $almostBlack;
  font-size: 0.93rem;
  margin-right: 1.72vw;
}

.container-fluid .social-media a {
  width: fit-content;
  width: -moz-fit-content;
  padding-bottom: 0.8125rem;
  font-size: 1rem;
}

.container-fluid .social-media .bi {
  margin-right: .5em;
  height: 1em;
  padding: 1em 0.5em
}

.container-fluid .social-media .bi-youtube {
  color: $yRed
}

.container-fluid .social-media i:before {
  font-size: 1.4em;
  vertical-align: -0.3em
}

.container-fluid .social-media .bi-facebook {
  color: $skyBlue
}

.container-fluid .social-media .bi-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
}

.footer-copyright {
  margin: 2.3vh 0 0 7vw;
  font-size: 0.6875rem;
  text-align: left;
  display: block;
}

.footer-copyright a {
  padding: 0;
  width: fit-content;
  width: -moz-fit-content;
  display: inline-block;
}

.page-footer .links a {
  padding: 0 0 0.625vw 1.57vh;
  position: relative;
  font-size: 1rem;
}

.page-footer .links ul {
  margin-bottom: 0;
}

.page-footer .links a:before {
  background-color: $darkRed;
  content: '';
  position: absolute;
  top: 3px;
  left: -4px;
  width: 6px;
  height: 17px;
  border-radius: 15px;
}

.page-footer .links .longer:before {
  height: 41px;
}

.page-footer .links .last-one {
  margin-top: 3.6vh;
}

.page-footer .links .last-one:before {
  height: 6px;
  border-radius: 50%;
  top: 9px;
}

@media (max-width: $min-phone-width) {
  .page-footer {
    margin-right: 0.625rem;
  }

  .page-footer .links, .social-media p {
    display:none
  }

  .container-fluid {
    padding: 2.8vh 0 !important;
  }

  .container-fluid .social-media {
    width: fit-content;
    margin: 0 auto;
    padding-left: 0;
  }

  .container-fluid .social-media a {
    margin-left: unset
  }

  .footer-copyright {
    text-align: center;
    padding: 0 9.72vw;
    margin: 1vh 0 0 0;
  }

  .footer-copyright a {
    margin: 0 auto;
    display: block;
  }
}
