.App {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
}

.red-box {
    font-size: 1rem;
    border: 0;
    padding: 5px 10px;
    color: white;
    height: fit-content;
    border-radius: 8px;
    width: fit-content;
    width: -moz-fit-content;
    background-color: #c0351b;
}

.content {
    width: 85%;
    position: relative;
    background-color: #61dafb;
}

.right-bar {
    width: 15%;
    height: 100vh;
    background-color: blue;
}
