@import 'util/colors';
@import 'util/layout';


.spinner-border {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.red-box {
    font-size: 1rem;
    border: 0;
    padding: 5px 10px;
    color: $lightgrey;
    height: fit-content;
    border-radius: 8px;
    width: fit-content;
    width: -moz-fit-content;
    background-color: $darkRed;
}

.router-content {
  min-height: 100%
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 87%;
    position: relative;
}

.content .blurred {
  backdrop-filter: blur(30px);
  filter: blur(30px);
  pointer-events: none;
}

.content .page-content {
  min-height: 130vh;
  padding-top: 28.15vh;
  padding-bottom: calc(10vh + 10.18rem);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logo-column {
  width: 13%;
  background-image: linear-gradient(163deg, #f89f6d 0%, #cd4c27 100%);
  transition: opacity 0.5s linear;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.church-logo {
  position: fixed;
  width: 7.44vw;
  top: 50vh;
  transform: translate(0,-50%);
}

.left-title-section {
  position: relative;
  z-index: 1;
  border-radius: 0 22px 22px 0;
  padding: 2.7vh 4vw 2.7vh 14vw;
  backdrop-filter: brightness(2) blur(30px);
  -webkit-backdrop-filter: brightness(2) blur(30px);
  width: 53%;
  text-align: left;
}

.left-title-section.with-margin {
  margin-bottom: 8.15vh;
}

.left-title-section .bold-title {
  text-align: center;
  font-size: 3.68rem;
  line-height: 4.3rem;
  font-weight: bold;
  color: $black;
}

.default-red-button {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  color: $white;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  padding: 1.38vh 1vw;
  border-radius: 33px;
  background-color: $darkRed;
  cursor: pointer;
  border: 0;
}

.default-red-button.disabled {
  background-color: $grey;
  cursor: not-allowed;
  pointer-events: none;
}

.default-red-button a, .default-red-button a:hover {
  text-decoration: none;
  color: $lightgrey;
}

.default-container {
  background-color: $lightgrey;
  border-radius: 28px;
  margin: 0 7vw 10vh 7vw;
  padding: 2.77vh 7vw;
}

.App ::-webkit-scrollbar {
  width: 0.5rem;
}
.App ::-webkit-scrollbar-track {
  border-radius: 1rem;
  box-shadow: inset 0 0 5px grey;
}
.App ::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 1rem;
}

//landscape
@media screen and (min-aspect-ratio: 13/9) {
  .content .page-content {
    padding-top: 30vh;
    min-height: 170vh;
  }

  .spinner-border {
    top: 35%;
  }
}

@media (max-width: $min-phone-width) {
  .left-title-section {
    width:100%;
    border-radius: 0;
    padding: 2.7vh 7vw;
  }
  .left-title-section .bold-title {
    font-size: 1.82rem;
    line-height: 2.25rem;
  }

  .default-red-button {
    font-size: 1rem;
    line-height: 1rem;
    padding: 1.38vh 3.73vw;
  }

  .default-container {
    border-radius: 0;
    margin: 0 0 13vh 0;
  }

  .content .home-page.page-content, .about-page.page-content {
    background-position: 73% !important;
  }
}
