@import 'util/layout';

.my-menu {
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: space-between;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.navbar.my-nav {
    margin: 2em .5em 0 0;
    flex-wrap: nowrap;
}

.my-nav .navbar-brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-nav .navbar-brand .brand-name {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    color: black
}

.my-nav .navbar-brand .title {
    font-size: 26px;
    max-width: 215px;
    text-align: left;
    white-space: pre-wrap
}

.my-nav .navbar-nav {
  justify-content: flex-end;
  flex-direction: row;
}


.my-nav .navbar-nav .nav-item {
  width: fit-content;
  width: -moz-fit-content;
}

.my-nav .nav-link {
    padding: 0.5rem 1rem !important;
    color: black;
    border-radius: 20px;
    white-space: pre;
}

.my-nav .nav-link:hover, .nav-link.active {
    background-color: lightgray;
}

.my-nav .nav-item a {
  color: black;
}

.my-nav .live {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 0.8em;
}

.my-nav .live:before {
  content: '';
  display: block;
  height: .7em;
  width: .7em;
  background: #ed390f;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1.2em;
  transform: translateY(-50%);
}

.my-nav .menu-btn {
  display: none;
}


@media (max-width: $min-phone-width) {
  .navbar.my-nav .navbar-nav,  .navbar.my-nav .live{
    display:none
  }
  .my-nav .navbar-brand {
    width: 50%;
    margin-left: 10%
  }

  .my-nav .navbar-brand .title {
    font-size: 1rem;
  }

  .my-nav .navbar-brand .red-box {
    font-size: 0.7rem;
  }

  .my-nav .menu-btn {
    margin: 0 auto;
    display: block;
  }
}


.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 15px;
  //padding-left: 15px;
  //padding-right: 15px;
  //padding-bottom: 15px;
  width: 80%;
  height: 100%;
}

.navbar-collapse.collapsing {
  right: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  right: 0;
  transition: right 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: right 500ms ease-in-out;
}
